body{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
  font-family: 'Crete Round', serif;
  color:rgb(105, 113, 124)
}

div{
  display: inline-block;
}
 img{
   outline: 3px solid green;
   margin: 15px;
 }
p{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
  position: relative;
  bottom: 50px;
  left: 60px;
  color: white;
}
.line{
  margin: 3px;
  padding: 3px;
  height:4px;
  width:200px;
  background-color:rgb(105, 113, 124);
}
