header{
  margin-left: 10px;
}
h2{
  margin:5px ;
  font-size: 30px;
}


body{
  /*box-sizing: border-box;
  margin:0px;
  padding: 0px;*/
  font-family: 'Courier New';
  color:rgb(105, 113, 124);
  opacity: 0.9;
}

div{
  display: inline-block;
}
 img{
   margin: 15px;
 }
 .one{
   /*outline: 1px solid green;*/
   position: static;

 }
.two{
  /*outline: 1px solid purple;*/
  position: relative;
  top:200px;
  right:575px;
}

p{
  /*outline: 1px solid red;*/
  position: relative;
  bottom: 60px;
  left: 50px;
  color: white;
  font-size: 15px;

}
.line{
  margin: 3px;
  padding: 3px;
  height:2px;
  width:100px;
  background-color:rgb(105, 113, 124);
}
